# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecords/
[Uu]nityCrashReports/
[Pp]ackages/com.unity.burst@*
[Pp]ackages/com.unity.*/

# IDE / Editor Files
.vs/
.idea/
*.sln
*.csproj
*.unityproj
*.user
*.pidb
*.suo
*.tmp
*.userprefs

# Builds / Exports
*.apk
*.aab
*.unitypackage
Builds/
[Bb]uilds/

# OS files
.DS_Store
Thumbs.db
desktop.ini
